In [2]:
%load_ext tikzmagic
%matplotlib inline

# 아웃라이어와 영향도

In [3]:
import statsmodels.api as sm

boston = sm.datasets.get_rdataset("Boston", "MASS").data

formula = "medv ~ scale(lstat)"
model = sm.OLS.from_formula(formula, boston)
result = model.fit()

In [5]:
result.outlier_test()

     student_resid   unadj_p  bonf(p)
0        -0.938639  0.348367      1.0
1        -0.687511  0.492078      1.0
2         0.640666  0.522031      1.0
3         0.264236  0.791706      1.0
4         1.081882  0.279823      1.0
..             ...       ...      ...
501      -0.477502  0.633212      1.0
502      -0.857915  0.391348      1.0
503      -0.853387  0.393851      1.0
504      -1.031090  0.302994      1.0
505      -2.455825  0.014393      1.0

[506 rows x 3 columns]